<!DOCTYPE html>
<html lang="en">
<head>
    <title>Privacy Policy</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        By using our service, you hereby consent to the collection of data including, but not limited to: usernames, user IDs, guild IDs, channel IDs, role IDs, transcripts of tickets, and reasons for opening tickets. This information is collected in order to maintain service functionality and is not available to the public. Your data can be deleted by emailing contact@letstalkpossibility.com
    </div>
</body>
</html>

<style>
    * {
        background-color: #2c2c2c;
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 30px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 30vw;
        margin: auto;
        text-align: center;
    }
</style>