<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        Our terms of service contains only 1 rule, do not abuse the systems set in place by the bot in any way. If you do, you will be banned from the bot and all of its services. Other than this, please take a look at our privacy policy at transcripts.talkpossibility.xyz/privacy.
    </div>
</body>
</html>

<style>
    * {
        background-color: #2c2c2c;
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 30px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 30vw;
        margin: auto;
        text-align: center;
    }
</style>